
body {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: #2B304D;
    color: white;
}
h1 {
    color: white;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

h2 {
    color: white;
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-align: center;}
#text{
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}
#canva{
    margin-bottom: 20px;
}
#bigcanvas{
    background-color: white;
}
#clean{
    padding: 10px;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: #3F4364;
    color: #EFAA75;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#clean:hover {
    background-color: #EFAA75;
    color: #3F4364;
}

#submit{
    padding: 10px;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: #EFAA75;
    color: #3F4364;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color: #3F4364;
    color: #EFAA75;
}
#resultado{
    padding: 20px;
}

#finalbanner {
    background-color: #626B96;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px; /* Ajusta este valor según sea necesario */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}


/* Azul 1: #2B304D
Azul 2: #3F4364
Azul 3: #626B96
Naranja: #EFAA75